body {
  background-color: black;
  animation: fade-in 1s ease;
}

input[type=image] {
  max-width: 70%;
  max-height: 70%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  object-fit: contain;
  -webkit-tap-highlight-color: transparent;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

