body {
  background-color: black;
  animation: fade-in 1s ease;
}

#ajukebox {
  max-width: 70%;
  max-height: 70%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  object-fit: contain;
  -webkit-tap-highlight-color: transparent;
}

#ajukebox:active {
  animation: wiggle 0.3s;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 100; }
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   50% { transform: rotate(5deg); }
   75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
